<mjml>
  <mj-head>
    <mj-title>Email Enquiry</mj-title>
    <mj-include path="_partials/_head.mjml" />
  </mj-head>
  <mj-body>
    <mj-include path="_partials/_header.mjml" />
    <mj-section background-color="#fdfdfd" padding="20px">
      <mj-column>
        <mj-text padding="0 25px 10px 25px">
          <h2>You received a new enquiry!</h2>
        </mj-text>

        <mj-text color="#747D7A" font-weight="600" padding="0 0 0 25px">Name</mj-text>
        <mj-text line-height="18px" padding="5px 25px 15px 25px">{{ $data['name'] }}</mj-text>

        <mj-text color="#747D7A" font-weight="600" padding="0 0 0 25px">Email</mj-text>
        <mj-text line-height="18px" padding="5px 25px 15px 25px">{{ $data['email'] }}</mj-text>

        <mj-raw>@if(isset($data["phone"]) && !empty($data['phone']))</mj-raw>
        <mj-text color="#747D7A" font-weight="600" padding="0 0 0 25px">Phone</mj-text>
        <mj-text line-height="18px" padding="5px 25px 15px 25px">{{ $data['phone'] }}</mj-text>
        <mj-raw>@endif</mj-raw>

        <mj-text color="#747D7A" font-weight="600" padding="0 0 0 25px">Message</mj-text>
        <mj-text line-height="18px" padding="5px 25px 15px 25px">{!! nl2br($data['message']) !!}</mj-text>

        <mj-divider border-width="1px" border-style="solid" border-color="lightgrey" />

        <mj-button background-color="#183052" color="white" href="mailto:{{ $data['email'] }}">
          Reply
        </mj-button>
      </mj-column>
    </mj-section>
    <mj-include path="_partials/_footer.mjml" />
  </mj-body>
</mjml>
